#sec-2-tuyenthanhvien {
    /* background-color: #003B91; */
    background-image: linear-gradient(#103994, #4B6FB7);
    color: #fff;
}

.form-control::placeholder {
    font-size: 14px;
    color: #818181;
}

.dynamic-text-shadow {
    color: #fff;
    text-shadow: 2px 2px 0 hsl(0, 0%, 0%);
}

.trigger-button {
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.trigger-button:hover {
    background-color: #005bb5;
}

/* Popup modal overlay */
.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

/* Popup modal content */
.modal {
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    width: 90%;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.header {
    font-size: 18px;
    margin-bottom: 10px;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.actions .button {
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.actions .button:hover {
    background-color: #005bb5;
}

.facebook-button {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #0d36b3 0%, #0063ad 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    width: 15em;
    height: 2.5em;
}

.facebook-button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.facebook-button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.facebook-button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

.facebook-button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

.facebook-button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

.facebook-button:hover svg {
    transform: rotate(90deg);
}

.title-banner {
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 50px;
}

@media (max-width: 1800px) {
    .title-banner {
        margin-top: 65px;
        font-size: 20px;
    }

    .title-date {
        font-size: 14px;
    }

    .item-tuyenthanhvien {
        margin-left: 40px;
    }
}

@media (max-width: 450px) {
    .item-tuyenthanhvien {
        margin-left: 20px;
    }

    .title-banner {
        margin-top: 65px;
        font-size: 15px;
    }

    .title-date {
        font-size: 10px;
    }
}

@media (max-width: 750px) {
    .item-logo-banner {
        display: none;
    }
}