@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: 'Montserrat'; */
}

.gradient-text {
    background: linear-gradient(2007deg, rgba(69, 156, 255, 1) 35%, rgba(180, 115, 248, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sec-3,
#sec-5 {
    background-color: #03045E;
    padding: 30px 0 50px 0;
}

#sec-4,
#sec-6 {
    padding: 30px 0 50px 0;
}

.text-center-image-1 {
    font-size: 100px;
    margin-bottom: 250px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 999;
}

.text-center-image-2 {
    font-size: 100px;
    margin-bottom: 150px;
    z-index: 999;
}

@media (max-width: 2400) {
    .text-center-image-1 {
        font-size: 80px;
        margin-bottom: 350px;
    }

    .text-center-image-2 {
        font-size: 80px;
        margin-bottom: 250px;
    }
}

@media (max-width: 768px) {
    .text-center-image-1 {
        font-size: 50px;
        margin-bottom: 300px;
    }

    .text-center-image-2 {
        font-size: 50px;
        margin-bottom: 200px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.truncate-line-1 {
    display: -webkit-box !important;
    ;
    -webkit-line-clamp: 1;
    /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-line-2 {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-line-3 {
    display: -webkit-box !important;
    ;
    -webkit-line-clamp: 3;
    /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-line-4 {
    display: -webkit-box !important;
    ;
    -webkit-line-clamp: 4;
    /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.imagePost-radius {
    border-radius: 15px 50px;
}


.news-item {
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.news-item:hover {
    color: #103994;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    /* Tạo hiệu ứng đổ bóng */
}

.btn-more:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}



.button-xemthem {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
}

.button-xemthem:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}



.boton-elegante {
    padding: 7px 15px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.25) 0%,
            rgba(255, 255, 255, 0) 70%);
    transform: scale(0);
    transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
    transform: scale(4);
}

.boton-elegante:hover {
    border-color: #666666;
    background: #292929;
}


.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10rem;
    transition: all 0.02s;
    font-weight: bold;
    cursor: pointer;
    color: rgb(37, 37, 37);
    z-index: 0;
    box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.button:hover {
    background: rgb(193, 228, 248);
    color: rgb(33, 0, 85);
}

.button:active {
    transform: scale(0.97);
}

.hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hoverEffect div {
    background: rgb(222, 0, 75);
    background: linear-gradient(90deg,
            rgba(222, 0, 75, 1) 0%,
            rgba(191, 70, 255, 1) 49%,
            rgba(0, 212, 255, 1) 100%);
    border-radius: 40rem;
    width: 10rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
}

.button:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
}

@keyframes effect {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}