/* CSS */
.button-34 {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.aninav {
    z-index: 100;
    background-color: white;
    animation: down 0.7s forwards ease-in;
}

.navbar-item {
    margin: 0 15px;
    padding: 10px 0;
    position: relative;
}

.navbar-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 50%;
    bottom: 0;
    background: linear-gradient(to right, rgba(255, 126, 95, 0), rgba(69, 156, 255, 1) 35%,
            rgba(180, 115, 248, 1), rgba(254, 180, 123, 0));
    /* Gradient màu với hai đầu mờ dần */
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbar-item:hover::after,
.navbar-item.active::after {
    width: 100%;
}

@keyframes down {
    0% {
        opacity: 0;
        transform: rotateY(-50px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0);
    }
}

