.item-title {
    width: 40%;
}

@media (max-width: 768px) {}

@media (max-width: 1100px) {
    .item-title {
        margin-top: 20px;
        width: 100%;
    }

    .item-info {
        margin-top: 10px;
        text-align: center;
    }
}