.gradian-div {
    /* background: linear-gradient(90deg,
            rgba(222, 0, 75, 1) 0%,
            rgba(191, 70, 255, 1) 49%,
            rgba(0, 212, 255, 1) 100%); */
    background-image: radial-gradient(circle 311px at 8.6% 27.9%, #072ac8 1.9%, #1e96fc 30.2%);
    height: 10px;
    width: 75%;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 15px;
}

.item-image-right {
    margin-left: 32px;
}

.item-content-left {
    margin-left: 43px;
}

@media screen and (max-width: 768px) {
    .gradian-div {
        margin: 0 auto;
    }

    .name-section {
        text-align: center;
        margin-bottom: 5px;
    }

    .item-image-right {
        margin-left: 0px;
    }

    .item-content-left {
        margin-left: 0px;
    }
}